* {
    box-sizing: border-box;
}

.navbar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 84%;
    margin-right: 67px;
}

.nav {
    position: absolute;
    width: 465px;
    height: 100vh;
    left: 5px;
    top: 0px;
    background-color: skyblue;
    padding-left: 37px;
    text-align: center;
    padding-top: 15px;
}

.img {
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}

.img hr {
    width: 364px;
    height: 7px;
    left: 14px;
    top: 27px;
    margin-left: 5px;
    background: #005203;
}

.navbar hr {
    /* position: absolute; */
    width: 304px;
    height: 3px;
    left: 14px;
    top: 301px;

    background: #005203;
}

.line {
    position: absolute;
    width: 127px;
    height: 0px;
    left: 425px;
    top: 37px;

    border: 4px solid #000AFF;
    transform: rotate(90deg);
}

.sign {
    position: absolute;
    width: 158px;
    height: 116px;
    left: 512px;
    top: -21px;

    font-family: 'K2D';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 116px;
    letter-spacing: -0.02em;
    color: #000AFF;
}

.hedright {
    float: right;
    display: flex;
}

.hedright img {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 20px;
}

.hedright div {
    margin-right: 13px;
    display: grid;

}

.page {
    position: absolute;
    width: 70px;
    height: 116px;
    left: 512px;
    top: 26px;
    font-family: 'K2D';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 116px;
    /* identical to box height, or 362% */

    letter-spacing: -0.02em;

    color: #000AFF;
}

.search {
    position: absolute;
    width: 947px;
    height: 57px;
    left: 515px;
    top: 185px;
    border-radius: 42px;
    border: 1px solid;
}

.search button {
    float: right;
    background: blue;
    color: white;
    margin-top: 7px;
    margin-right: 20px;
    padding: 9px;
    border-radius: 17px;
    width: 90px;
    cursor: pointer;
}

input {
    border: none;
    margin-left: 32px;
    margin-top: 15px;
    color: red;
    font-size: larger;
}

.frame {

    box-shadow: 0px 3px 32px rgba(0, 0, 0, 0.42);
    height: 261px;
    width: 214px;

}

.hrleft {
    left: 32.64%;
}

.hrmiddle {
    left: 62%;
}

.hrright {
    left: 91%;
}

.hrcontainer {
    display: flex;
    position: relative;
    top: 289px;
    margin-left: 129px;
}

.reg {
    position: absolute;
    right: 18.14%;
    top: 30.86%;
    color: white;
    background: #1E2775;
    border-radius: 17px;
    text-align: center;
    padding-top: 11px;
}

.paragraph {
    position: absolute;
    left: 44%;
    right: 13.85%;
    top: 85.36%;
    bottom: 85.89%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    text-decoration: none;
    display: flex;

}

.paragraph p {
    padding: 24px;
    width: 307px;
    background: #0047FF;
    border-radius: 100px;
    padding-bottom: 42px;
}

.paragraph p a {
    color: lightcyan;
}

a {
    text-decoration: none;
}

.ratingsym {
    display: flex;
    gap: 17px;
}

li {
    margin: 3px;
    list-style: none;
    bottom: 10px;
    cursor: pointer;

}

/* .ratingsym li {

    position: absolute;
    width: 40px;
    height: 40px;
    left: 83px;
    top: 317px;
    background-color: white;
} */

.user img {
    border-radius: 50%;
}