*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:  #A9EBF4;;
}

.heading{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 119px;
    color: #000000;
    margin-left: 94px;
}
.btn{
    position: absolute;
    width: 286px;
    height: 56px;
    left: 210px;
    top: 611px;
    background: #218B99;
    border-style: none;
    font-family: 'Inter' ,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    color:white;


}